.text {
	margin: 0;

	font-family: var(--font-family);
	font-weight: var(--font-weight-normal);
	font-style: normal;
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
	letter-spacing: var(--letter-spacing);
}

.text--hint {
	margin-top: var(--spacing-md);

	font-size: var(--font-size-xs);

	color: var(--color-text-secondary);
}
